.hero-section {
  height: 140px;
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
@media screen and (max-width: 767px) {
  .hero-section {
    height: auto;
  }
}
.hero-section .hero-text {
  width: 1148px;
  margin: auto;
}
.hero-section .hero-text h1 {
  color: #ffb124;
}
@media screen and (max-width: 1100px) {
  .hero-section .hero-text {
    padding: 30px 20px;
    width: 100%;
  }
}
.text-section {
  max-width: 1148px;
  margin: auto;
  display: flex;
}
@media screen and (max-width: 1100px) {
  .text-section {
    padding: 0 20px;
  }
}
.text-section .heading-contaner {
  width: 310px;
  position: sticky;
  top:3rem;
}
@media screen and (max-width: 1100px) {
  .text-section .heading-contaner {
    display: none;
  }
}
.text-section .heading-contaner a {
  text-decoration: none;
}
.text-section .heading-contaner .is-current .heading .curriki-utility-headings {
  color: #084892 !important;
  font-weight: 700;
}
.text-section .heading-contaner .heading {
  display: flex;
  cursor: pointer;
  padding-bottom: 10px;
}
.text-section .heading-contaner .heading p {
  color: rgb(118, 118, 118) !important;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.text-section .heading-contaner .is-current .heading p {
  color: #084892 !important;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.text-section .heading-contaner .heading .h-text {
  padding-left: 15px;
}
.text-section .description-contaner {
  width: 788px;
  float: right;
}
@media screen and (max-width: 1100px) {
  .text-section .description-contaner {
    float: initial;
  }
}
@media screen and (max-width: 990px) {
  .text-section .description-contaner {
    width: 100%;
  }
}
.text-section .description-contaner .description-text {
  margin-bottom: 50px;
}
.text-section .description-contaner .description-text .description-heading {
  display: flex;
  padding-bottom: 21px;
}
.text-section .description-contaner .description-text .description-heading h2 {
  color: #084892;
  font-weight: 700;
  font-family: "rubic";
  line-height: normal;
  font-style: normal;
}
.text-section .description-contaner .description-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #515151;
}
.text-section
  .description-contaner
  .description-text
  .description-heading
  .h-text {
  padding-left: 15px;
}
