//body
$body-color:#FFFFFF;
//header menu color
$menu-color: #285aa5;
$btn-color: #084892;
$btn-text: #ffffff;

//hero section
$blue-gradient: linear-gradient(90deg, #084892 30.14%, #285aa5 94.74%);
$yellow-heading: #ffb124;

//text color
$blue-text: #084892;
$black-text: #515151;
$white-text: #ffffff;
