/* @import '../../assets/css/color.scss'; */
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
.header .Navbar {
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.Navbar .navbar-collapse .navbar-nav {
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width:1199px) {
  .Navbar .navbar-collapse .navbar-nav  {
    align-items: flex-start;
    flex-direction: column-reverse;
  }
}
.Navbar .navbar-collapse .navbar-nav .centered-menu {
  display: flex;
  align-items: baseline;
}
@media screen and (max-width:1199px) {
  .Navbar .navbar-collapse .navbar-nav .centered-menu {
    flex-direction: column;
  }
}
.Navbar .navbar-collapse .navbar-nav .centered-menu .dropdown a {
  width: 156px;
  display: flex;
  align-items: baseline;
  text-decoration: none;
  color: #084892;
}
@media screen and (max-width: 1199px) {
.Navbar .navbar-collapse .navbar-nav .centered-menu .dropdown a {
   justify-content: space-between;
   width: 130px;
  }
}
@media screen and (max-width: 1199px) {
.Navbar .navbar-collapse .navbar-nav .centered-menu .dropdown a img {
  display: none;
  }
}
.modal-header {
  border: none;
}
.Navbar .navbar-collapse .navbar-nav .centered-menu .dropdown p {
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
margin-right: 15px;
font-size: 16px;
line-height: 19px;
color: #285AA5;
}
.Navbar .navbar-collapse .navbar-nav .centered-menu .dropdown-menu .dropdown-item.active {
  background: none !important;
}
.navbar-expand-xl .navbar-nav .dropdown-menu {
  min-width: 190px;
  border: none;
  padding: 10px;
}
.header .Navbar #responsive-navbar-nav {
  justify-content: flex-end !important;
}
.header .Navbar .nav-link {
  margin-left: 40px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #084892 !important;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .header .Navbar .nav-link {
    margin: 0px;
  }
}
.link-btn {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 1199px) {
  .link-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.header-login{
  margin-right:20px;
}
.header-login a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #084892;
  margin-left: 10px;
  text-decoration: none;
}
a{
  text-decoration: none;
}
button:focus:not(:focus-visible) {
  box-shadow: none;
}
.donate-btn {
  height: 46px;
  width: 136px;
  background: #084892 !important;
  color: #fff !important;
  border: none;
  box-sizing: border-box;
  border-radius: 25px;
 display:flex;
 justify-content: space-around;
 align-items: center;

  font-size: 16px;
  font-family: "Rubik";
  font-weight: 700 !important;
}
.flex-btn {
  width: 136px;
  color: #fff !important;
  display:flex;
  justify-content: space-around;
}
.footer-area {
  background-repeat: no-repeat;
  padding: 20px;
  clear: both;
}
.footer-area .footer-content-area {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .footer-area .footer-content-area {
    flex-direction: column;
  }
}
.footer-area .footer-content-area .footer-links {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.footer-area .footer-content-area .footer-links a {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 25px;
}
.bottom-footer {
  padding: 19px 0;
  text-align: center;
  background: #1f4071;
}
.bottom-footer p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
